$max-width-lg: 1090px;
@media (min-width: 1200px){
  .container-fluid{
    margin: 0;
    padding: 0;
    position: relative;
    header{
      background: rgba(41,41,41,0.62);
      height: 120px;
      z-index: 2;
      width: 100%;
      position: absolute;
      .head-block{
        max-width:$max-width-lg;
        margin: 0 auto;
        .logo-menu-top{
          .logo{
            float: left;
            a{
              img{
                margin-top: 10px;
              }
            }
          }
          ul{
            float: right;
            color: #fff;
            margin-top: 18px;
            li{
              float: left;
              font-size: 20px;
              font-family: "Calibri";
              text-transform: uppercase;
              list-style: none;
              &:after{
                content: "\22C5";
                color: #fff;
                font-size: 60px;
                margin: 0 4px 0 4px;
                padding: 0 0 10px 0;
                display: inline-block;
                vertical-align: middle;
              }
              &:last-child{
                &:after{
                  content: "\22C5";
                  color: rgba(0, 0, 0, 0);
                  font-size: 60px;
                  margin: 0 4px 0 4px;
                  padding: 0 0 10px 0;
                  display: inline-block;
                  vertical-align: middle;
                }
              }
              a{
                text-decoration: none;
                color: #fff;
                padding: 5px 9px;
                &:hover,&:active,&:focus{
                  background-color: #fff;
                  color: #000;
                  padding: 5px 9px;
                  border-radius: 20px;
                }
              }
              &:nth-child(1){
                list-style: none;
              }
            }
          }
        }
      }
    }
    .top-slider{
      background-image:url("../images/slider-top-background.jpg");
      max-height: 752px;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      z-index: 1;
        .top-slider_block{
          max-width:$max-width-lg;
          margin: 0 auto;
          position: relative;
          overflow: hidden;
          height: 752px;
          .top-slider_block_contacts{
            float: right;
            margin: 150px 0 25px 0;
            .top-slider_block__contacts-content{
              color: #fefefe;
              font-size: 30px;
              text-shadow: -2px 3px 6px black, 0 0 1em #080808;
              font-family: "Calibri";
              text-transform: uppercase;
              letter-spacing: 1px;
              line-height: 36px;
              padding-left: 15px;
            }
            .top-clider_block__get-feedback-form{
              color: #fff;
              background-color: #e30404;
              text-transform: uppercase;
              padding: 10px 24px;
              margin-top: 10px;
              display: inline-block;
              border-radius: 5px;
              font-weight: bold;
              font-size: 21px;
              text-decoration: none;
                &:hover{
                  text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.8), 0 0 1em rgba(255, 255, 255, 0.63);
                  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.78);
                }

            }
          }
          .top-slider_block_title{
            text-align: center;
            color: #fff;
            width: 100%;
            //display: flex!important;
            //justify-content: center;
            //flex-direction: column;
            position: absolute;
            top: 50%;
            .top-slider_block_title__bold{
              font-size: 60px;
              font-family: "Calibri";
              text-transform: uppercase;
              letter-spacing: 3px;
              font-weight: bold;
              & span{
                  color:#e30404;
              }
            }
            .top-slider_block_title_normal{
              font-size: 50px;
              font-family: Calibri;
              text-transform: uppercase;
              letter-spacing: 3px;
              font-weight: lighter;
              margin-top: 10px;
            }
          }
        }
    }
  }
}
@media (min-width: 992px) and (max-width: 1200px){

}
@media (min-width: 750px) and (max-width: 991px){

}
@media (min-width: 415px) and (max-width: 749px){

}
@media (min-width: 414px){}