

$max-width-lg: 1090px;
$max-width-md: 1010px;
$max-width-sm: 850px;
$max-width-s: 850px;
body {
  left: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
.container-fluid{
    margin: 0;
    padding: 0;

    header{
      background: rgba(41,41,41,0.62);
      height: 120px;
      z-index: 2;
      width: 100%;
      position: absolute;
      .head-block{
        max-width:$max-width-lg;
        margin: 0 auto;
        .icon-menu{
          display: none;
        }
        .logo-menu-top{
          .logo{

            float: left;
            a{
              img{
                margin-top: 10px;
              }
            }
          }
          .icon-close{
            display: none;
          }
          ul{
            float: right;
            color: #fff;
            margin-top: 18px;
            li{
              float: left;
              font-size: 20px;
              font-family: "Calibri";
              text-transform: uppercase;
              list-style: none;
              &:after{
                content: "\22C5";
                color: #fff;
                font-size: 60px;
                margin: 0 4px 0 4px;
                padding: 0 0 10px 0;
                display: inline-block;
                vertical-align: middle;

              }
              &:last-child{
                &:after{
                  content: "\22C5";
                  color: rgba(0, 0, 0, 0);
                  font-size: 60px;
                  margin: 0 4px 0 4px;
                  padding: 0 0 10px 0;
                  display: inline-block;
                  vertical-align: middle;
                }
              }
              a{
                text-decoration: none;
                color: #fff;
                padding: 5px 9px;
                &:hover,&:active,&:focus{
                  background-color: #fff;
                  color: #000;
                  padding: 5px 9px;
                  border-radius: 20px;
                }
              }
              &:nth-child(1){
                list-style: none;
              }
            }
          }
        }
      }
    }
    .top-slider{
      background-image:url("../images/slider-top-background.jpg");
      max-height: 752px;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      z-index: 1;
        .top-slider_block{
          max-width:$max-width-lg;
          margin: 0 auto;
          position: relative;
          overflow: hidden;
          height: 752px;
          .top-slider_block_contacts{
            float: right;
            margin: 150px 0 25px 0;
            .top-slider_block__contacts-content{
              color: #fefefe;
              font-size: 30px;
              text-shadow: -2px 3px 6px black, 0 0 1em #080808;
              font-family: "Calibri";
              text-transform: uppercase;
              letter-spacing: 1px;
              line-height: 36px;
              padding-left: 15px;
              text-decoration:none;
            }
            .top-slider_block__get-feedback-form{
              color: #fff;
              background-color: #e30404;
              text-transform: uppercase;
              padding: 10px 24px;
              margin-top: 10px;
              display: inline-block;
              border-radius: 5px;
              font-weight: bold;
              font-size: 21px;
              text-decoration: none;
                &:hover{
                  text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.8), 0 0 1em rgba(255, 255, 255, 0.63);
                  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.78);
                }

            }
          }
          .line-top-slider{
            display: none;
          }
          .top-slider_block_title{
            text-align: center;
            color: #fff;
            width: 100%;
            position: absolute;
            top: 50%;
            .top-slider_block_title__bold{
              font-size: 60px;
              font-family: "Calibri";
              text-transform: uppercase;
              letter-spacing: 3px;
              font-weight: bold;
              & span{
                  color:#e30404;
              }
            }
            .top-slider_block_title_normal{
              font-size: 50px;
              font-family: Calibri;
              text-transform: uppercase;
              letter-spacing: 3px;
              font-weight: lighter;
              margin-top: 10px;
            }
          }
        }
    }
    .category-block {

      .category-block_elements {
        max-width: $max-width-lg;
        margin: 0 auto;
        .category-block_element {
          p {
            @extend .category-block_title;
            font-size: 25px!important;
          }
          img {
            display: block;
            margin: 0 auto;
          }
        }
        .category-block_title {
          text-align: center;
          font-family: "Calibri";
          text-transform: uppercase;
          color: #000;
          font-size: 40px;
          margin: 40px 0;
        }

      .category-block__get-feedback-form {
        clear: both;
        text-align: center;
        display: block;
        color: #fff;
        background-color: #e30404;
        text-transform: uppercase;
        padding: 10px 24px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 21px;
        text-decoration: none;
        max-width: 400px;
        margin: 0 auto 20px auto;
        &:hover{
          text-shadow: 1px 1px 2px rgba(12,12,12,.8), 0 0 1em rgba(255,255,255,.63);
          box-shadow: 0 8px 30px rgba(0,0,0,.78);
        }
      }
    }
    }
    .services{
      background-color: #e1e0e0;
      .services-block{
        max-width:$max-width-lg;
        margin: 0 auto;
        padding-bottom: 20px;
        .row{
          .services-block_row{
            text-align: center;
            height: 280px;
            padding: 0;

              img{
                height: 100%;
                max-width: 280px;
              }
          }
          .services-block_row__even{
            float: right;
          }
          .services-block_row__title{
            font-family: "Calibri";
            text-transform: uppercase;
            font-size: 30px;
            background-color: #e30404;
            text-align: center;
            color: #fff;
            height: 280px;
            display: flex!important;
            justify-content: center;
            flex-direction: column;
            margin: 0 0 40px 0;
          }
        }
        .services-block_title{
          font-family: "Calibri";
          text-transform: uppercase;
          color: #000;
          font-size: 40px;
          margin: 0 0 40px 0;
          padding-top: 30px;
          text-align: center;
        }
        .services-block__get-feedback-form{
          clear: both;
          text-align: center;
          display: block;
          color: #fff;
          background-color: #e30404;
          text-transform: uppercase;
          padding: 10px 24px;
          border-radius: 5px;
          font-weight: 700;
          font-size: 21px;
          text-decoration: none;
          max-width: 400px;
          margin: 40px auto 20px;
          &:hover{
            text-shadow: 1px 1px 2px rgba(12,12,12,.8), 0 0 1em rgba(255,255,255,.63);
            box-shadow: 0 8px 30px rgba(0,0,0,.78);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 996px) and (max-width: 1200px){
  .container-fluid{
    header{
      .head-block{
        max-width:$max-width-md;
        .logo-menu-top{
        .logo{
          margin-left: 12px;
        }
          ul{
            li{
              font-size: 17px!important;
            }
          }
        }
      }
    }
    .top-slider{
      .top-slider_block{
        max-width:$max-width-md;
        .top-slider_block_contacts{
          padding-right: 20px;
          .top-slider_block__contacts-content{
            font-size: 27px;
          }
          .top-slider_block__get-feedback-form{
            font-size: 19px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 996px){
  .container-fluid{
    header{
      .head-block{
        max-width:$max-width-sm;
        .logo-menu-top{
          .logo{
            margin-left: 22px;
          }
          ul{
            float: left;
            color: #fff;
            margin: 28px 0 0 10%;
            width: 65%;
            li{
              line-height: 24px;
              font-size: 17px!important;
              &:after{
                //display: none!important;
                margin: 0;
              }
              &:nth-child(4){
                &:after{
                  content: "\22C5";
                  color: rgba(0, 0, 0, 0);
                  font-size: 60px;
                  margin: 0 4px 0 4px;
                  padding: 0 0 10px 0;
                  display: inline-block;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
    .top-slider{
      .top-slider_block{
        max-width:$max-width-sm;
        .top-slider_block_contacts{
          padding-right: 20px;
          .top-slider_block__contacts-content{
            font-size: 23px;
          }
          .top-slider_block__get-feedback-form{
            font-size: 17px;
          }
        }
        .top-slider_block_title{
          .top-slider_block_title__bold{
            font-size: 50px;
          }
          .top-slider_block_title_normal{
            font-size: 40px;
          }
        }
      }
    }
    .services{
      .services-block{
        .row{
          .services-block_row{
            display: block!important;

            img{
              height: 100%;
              max-width: 280px;
            }
            .left-position-img-sm{
              float: right;
            }
            .right-position-img-sm{
              float: left;
            }
          }
          .services-block_row__even{
            float: left!important;
          }
          .services-block_row__title{
            max-width: 280px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 560px) and (max-width: 768px){
  .container-fluid{
    header{
      .head-block{

        .logo-menu-top{
          .logo{
            margin-left: 22px;
            width: 20%;
          }
          ul{
            float: left;
            color: #fff;
            margin: 0 0 0 33px;
            width: 380px;
            li{
              line-height: 24px;
              font-size: 17px!important;
              &:after{
                margin: 0;
              }
              &:nth-child(3),&:nth-child(5){
                &:after{
                  content: "\22C5";
                  color: rgba(0, 0, 0, 0);
                  font-size: 60px;
                  margin: 0 4px 0 4px;
                  padding: 0 0 10px 0;
                  display: inline-block;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
    .top-slider{
      .top-slider_block{
        max-width:$max-width-sm;
        .top-slider_block_contacts{
          padding-right: 20px;
          .top-slider_block__contacts-content{
            font-size: 23px;
          }
          .top-slider_block__get-feedback-form{
            font-size: 17px;
          }
        }
        .top-slider_block_title{
          .top-slider_block_title__bold{
            font-size: 50px;
          }
          .top-slider_block_title_normal{
            font-size: 40px;
          }
        }
      }
    }
    .services{
      .services-block{
        .row{
          .services-block_row{
            margin: 0 0 20px 0;
            img{
              margin: 0 auto;
            }
            .left-position-img-sm{

            }
            .right-position-img-sm{

            }
          }
          .services-block_row__even{

          }
          .services-block_row__title{
            height: 100px!important;
          }
        }
        .services-block__get-feedback-form{
          margin-top: 0!important;
          padding: 25px 24px!important;
        }
      }
    }
  }
}
@media screen and (min-width: 370px) and (max-width: 560px){
  .container-fluid{
    header{
      .head-block{
        .icon-menu{
          display: block!important;
          color: #fff;
          cursor: pointer;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          padding-bottom: 25px;
          padding-left: 25px;
          padding-top: 25px;
          text-decoration: none;
          text-transform: uppercase;
          right: 50px;
          top: 20px;
          position: absolute;
          z-index: 10;
          img{
            width: 50px;
          }

        }
        .logo-menu-top{
          .logo{
            margin-left: 22px;
          }
          .icon-close{
            display: block!important;
            cursor: pointer;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 6px;
            position: absolute;
            right: 0;
            img{
              width: 70px;
            }

          }
          .menu {
            background-image:url("../images/slider-top-background-mobile.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            left: 100%;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 12;
          }
          ul{
            float: none!important;
            li{
              float: none!important;
              text-align: center;
              font-size: 26px;
              list-style: none;
              line-height: 60px;
              border-bottom: 1px solid;
              width: 50%;
              margin: 0 auto;
              &:last-child{
                border-bottom: none;
              }
              &:after{
                display: none!important;
              }
            }
          }
        }
      }
    }
    .top-slider{
      background-image:url("../images/slider-top-background-mobile.jpg")!important;
      max-height: 620px!important;
      .top-slider_block{

        .top-slider_block_contacts{
          margin: 391px 0 25px!important;
          text-align: center;
          float: none!important;
          .top-slider_block__contacts-content{
            font-size: 23px;
          }
          .top-slider_block__get-feedback-form{
            font-size: 17px;
            padding: 16px 74px!important;
          }
        }
        .line-top-slider{
          position: absolute;
          width: 80%;
          left: 0;
          right: 0;
          display: inline-block!important;
          top: 46%;
        }
        .top-slider_block_title{
          top: 25%!important;
          .top-slider_block_title__bold{
            font-size: 42px!important;
          }
          .top-slider_block_title_normal{
            font-size: 31px!important;
          }
        }
      }
    }
    .category-block {
      .category-block_elements {
        .category-block_element {
          p {
          }
          img {
          }
        }
        .category-block_title {
        }

        .category-block__get-feedback-form {
          font-size: 16px;
          text-decoration: none;
          max-width: 290px!important;
        }
      }
    }
  }
}
@media screen and (max-width: 370px){
  .container-fluid{
    header{
      .head-block{
        .icon-menu{
          display: block!important;
          color: #fff;
          cursor: pointer;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          padding-bottom: 25px;
          padding-left: 25px;
          padding-top: 25px;
          text-decoration: none;
          text-transform: uppercase;
          z-index: 10;
          right: 50px;
          top: 20px;
          position: absolute;
          img{
            width: 50px;
          }
        }
        .logo-menu-top{
          .logo{
            margin-left: 22px;
          }
          .icon-close{
            display: block!important;
            cursor: pointer;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 6px;
            position: absolute;
            right: 0;
            img{
              width: 70px;
            }
          }
          .menu {
            background-image:url("../images/slider-top-background-mobile.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            left: 100%;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 12;
          }
          ul{
            float: none!important;
            li{
              float: none!important;
              text-align: center;
              font-size: 26px;
              list-style: none;
              line-height: 60px;
              border-bottom: 1px solid;
              width: 50%;
              margin: 0 auto;
              &:last-child{
                border-bottom: none;
              }
              &:after{
                display: none!important;
              }

            }
          }
        }
      }
    }
    .top-slider{
      background-image:url("../images/slider-top-background-mobile.jpg")!important;
      max-height: 555px !important;
      .top-slider_block{

        .top-slider_block_contacts{
          margin: 330px 0 25px !important;
          text-align: center;
          float: none!important;
          .top-slider_block__contacts-content{
            font-size: 22px!important;
          }
          .top-slider_block__get-feedback-form{
            font-size: 15px!important;
            padding: 12px 67px !important;
          }
        }
        .line-top-slider{
          position: absolute;
          width: 80%;
          left: 0;
          right: 0;
          display: inline-block!important;
          top: 39%;
        }
        .top-slider_block_title{
          top: 25%!important;
          .top-slider_block_title__bold{
            font-size: 30px!important;
          }
          .top-slider_block_title_normal{
            font-size: 22px!important;
            margin-top: 0!important;
          }
        }
      }
    }
    .category-block {
      .category-block_elements {
        .category-block_element {
          p {
          }
          img {
          }
        }
        .category-block_title {
        }

        .category-block__get-feedback-form {
          font-size: 16px;
          text-decoration: none;
          max-width: 290px!important;
        }
      }
    }
    .services{
      .services-block{
        .row{
          .services-block_row{
          }
          .services-block_row__title{
          }
        }
        .services-block_title{
        }
        .services-block__get-feedback-form{
          max-width: 290px!important;
        }
      }
    }
  }
}