


$max-width-lg: 1090px;
$max-width-md: 1010px;
$max-width-sm: 850px;
$max-width-s: 850px;

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.ttf");
}
body {
  left: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
.container-fluid{
    margin: 0;
    padding: 0;

    header{
      background: rgba(41,41,41,0.62);
      height: 120px;
      z-index: 2;
      width: 100%;
      position: absolute;
      .head-block{
        max-width: 1140px;
        margin: 0 auto;
        .icon-menu{
          display: none;
        }
        .logo-menu-top{
          .logo{

            float: left;
            a{
              img{
                margin-top: 10px;
              }
            }
          }
          .icon-close{
            display: none;
          }
          ul{
            float: right;
            color: #fff;
            margin: 50px 0 0 0;
            li{
              float: left;
              font-size: 20px;
              font-family: "Calibri";
              text-transform: uppercase;
              list-style: none;
              vertical-align:-webkit-baseline-middle;
              &:after{
                content: "";
                border-radius: 18px;
                width: 7px;
                height: 7px;
                margin: -12px 5px 0;
                background-color: #fff;
                display: inline-block;
                vertical-align: -webkit-baseline-middle;


              }
              &:last-child{
                &:after{
                  content: "";
                  border-radius: 18px;
                  width: 7px;
                  height: 7px;
                  margin: -12px 5px 0;
                  background-color: rgba(0, 0, 0, 0);
                  display: inline-block;
                  vertical-align: -webkit-baseline-middle;
                }
              }
              a{
                text-decoration: none;
                color: #fff;
                padding: 5px 9px;
                &:hover,&:active,&:focus{
                  background-color: #fff;
                  color: #000;
                  padding: 5px 9px;
                  border-radius: 20px;
                }
              }
              &:nth-child(1){
                list-style: none;
              }
            }
          }
        }
      }
    }
    .top-slider{
      max-height: 752px;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      z-index: 1;
        .top-slider_block{
          max-width:$max-width-lg;
          margin: 0 auto;
          position: relative;
          overflow: hidden;
          height: 752px;
          .top-slider_block_contacts{
            float: right;
            margin: 150px 0 25px 0;
            .top-slider_block__contacts-content{
              color: #fefefe;
              font-size: 30px;
              text-shadow: -2px 3px 6px black, 0 0 1em #080808;
              font-family: "Calibri";
              text-transform: uppercase;
              letter-spacing: 1px;
              line-height: 36px;
              padding-left: 15px;
              text-decoration:none;
            }
            .top-slider_block__get-feedback-form{
              color: #fff;
              background-color: #e30404;
              text-transform: uppercase;
              padding: 10px 24px;
              margin-top: 10px;
              display: inline-block;
              border-radius: 5px;
              font-weight: bold;
              font-size: 21px;
              text-decoration: none;
                &:hover{
                  text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.8), 0 0 1em rgba(255, 255, 255, 0.63);
                  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.78);
                  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.78);
                }

            }
          }
          .line-top-slider{
            display: none;
          }
          .top-slider_block_title{
            text-align: center;
            color: #fff;
            width: 100%;
            position: absolute;
            top: 45%;
            .top-slider_block_title__bold{
              font-size: 60px;
              font-family: "Calibri";
              text-transform: uppercase;
              letter-spacing: 3px;
              font-weight: bold;
              & span{
                  color:#e30404;
              }
            }
            .top-slider_block_title_normal{
              font-size: 50px;
              font-family: Calibri;
              text-transform: uppercase;
              letter-spacing: 3px;
              font-weight: lighter;
              margin-top: 10px;
            }
            .menuscroll{
              display: block;
              margin-top: 40px;
            }
          }
        }
    }
    #top-slider {
      background: url("../images/slider-top-background.jpg") 50% 0 no-repeat fixed;
      margin: 0 auto;
      width: 100%;
      position: relative;
    }
    .category-block {

      .category-block_elements {
        max-width: $max-width-lg;
        margin: 0 auto;
        .category-block_element {
          p {
            @extend .category-block_title;
            font-size: 25px!important;
          }
          img {
            display: block;
            margin: 0 auto;
          }
        }
        .category-block_title {
          text-align: center;
          font-family: "Calibri";
          text-transform: uppercase;
          color: #000;
          font-size: 40px;
          margin: 40px 0;
        }

      .category-block__get-feedback-form {
        clear: both;
        text-align: center;
        display: block;
        color: #fff;
        background-color: #e30404;
        text-transform: uppercase;
        padding: 10px 24px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 21px;
        text-decoration: none;
        max-width: 400px;
        margin: 0 auto 20px auto;
        &:hover{
          text-shadow: 1px 1px 2px rgba(12,12,12,.8), 0 0 1em rgba(255,255,255,.63);
          -webkit-box-shadow: 0 8px 30px rgba(0,0,0,.78);
          box-shadow: 0 8px 30px rgba(0,0,0,.78);
        }
      }
    }
    }
    .services{
      background-color: #e1e0e0;
      .services-block{
        max-width:$max-width-lg;
        margin: 0 auto;
        padding-bottom: 20px;
        .row{
          margin: 0!important;
          .services-block_row{
            text-align: center;
            height: 280px;
            padding: 0;

              img{
                height: 100%;
              }
          }
          .services-block_row__even{
            float: right;
          }
          .services-block_row__title{
            font-family: "Calibri";
            text-transform: uppercase;
            font-size: 30px;
            background-color: #e30404;
            text-align: center;
            color: #fff;
            height: 280px;
            display: -webkit-box!important;
            display: -ms-flexbox!important;
            display: flex!important;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 0 0 40px 0;
          }
        }
        .services-block_title{
          font-family: "Calibri";
          text-transform: uppercase;
          color: #000;
          font-size: 40px;
          margin: 0 0 40px 0;
          padding-top: 30px;
          text-align: center;
        }
        .services-block__get-feedback-form{
          clear: both;
          text-align: center;
          display: block;
          color: #fff;
          background-color: #e30404;
          text-transform: uppercase;
          padding: 10px 24px;
          border-radius: 5px;
          font-weight: 700;
          font-size: 21px;
          text-decoration: none;
          max-width: 400px;
          margin: 40px auto 20px;
          &:hover{
            text-shadow: 1px 1px 2px rgba(12,12,12,.8), 0 0 1em rgba(255,255,255,.63);
            -webkit-box-shadow: 0 8px 30px rgba(0,0,0,.78);
            box-shadow: 0 8px 30px rgba(0,0,0,.78);
          }
        }
      }
    }
    .stock-products-block{
      position: relative;
      margin-bottom: 25px;
      .stock-products-block_title{
        font-family: Calibri;
        text-transform: uppercase;
        color: #000;
        font-size: 40px;
        margin: 0 0 40px;
        padding-top: 30px;
        text-align: center;
      }
      .previous{
        position: absolute;
        left: -70px;
        top: 38%;
        width:64px;
        display:block;
        height:126px;
        background-image:url('../images/slider-prev.png');
        background-repeat: no-repeat;
      }
      .next{
        position: absolute;
        right: -70px;
        top: 38%;
        width:64px;
        background-image:url('../images/slider-next.png');
        background-repeat: no-repeat;
        display:block;
        height:126px;
      }
      .stock-products-block-carousel{
        max-width: 1100px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 50px;
        .stock-products-block-wrapper {
          display: block;
          max-width: 100%;
          min-width: 300px;
          margin: 0 auto;
          padding: 2px 3px;

          .crsl-items {
            display: block;
            padding: 5px;
            .crsl-item {
              display: block;
              position: relative;
              margin-bottom: 10px;
              .stock-product-block{
                border: 2px solid #e30404;
                max-width: 320px;
                border-radius: 4px;
                height: 380px;
                img {
                  width: 260px;
                  height: 190px;
                  margin: 40px auto 0 auto;
                  display: block;
                }
                .stock-product-block__get-feedback-form {
                  text-align: center;
                  display: block;
                  color: #fff;
                  background-color: #e30404;
                  text-transform: uppercase;
                  padding: 10px 24px;
                  border-radius: 5px;
                  font-weight: 700;
                  font-size: 21px;
                  text-decoration: none;
                  width: 150px;
                  margin: 60px auto 0 auto;
                  &:hover {
                    text-shadow: 1px 1px 2px rgba(12, 12, 12, .8), 0 0 1em rgba(255, 255, 255, .63);
                    -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, .78);
                    box-shadow: 0 8px 30px rgba(0, 0, 0, .78);
                  }
                }
              }
              .stock-product-block_circle{
                position: absolute;
                right: 4px;
                top: 107px;
                width: 165px;
                height: 165px;
                color: #fff;
                background-color: #e30404;
                border-radius: 80px;
                p{
                  width: 128px;
                  margin: 28px 0 0 21px;
                  text-align: center;
                  font-size: 17px;
                  color: #fff;
                  span{
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }

      }

    }
    .order-products-block {
      position: relative;
      background-color: #e1e0e0;
      padding-bottom: 25px;
      .order-products-block_title {
        font-family: Calibri;
        text-transform: uppercase;
        color: #000;
        font-size: 40px;
        margin: 0 0 40px;
        padding-top: 30px;
        text-align: center;
      }
      .previous {
        position: absolute;
        left: -70px;
        top: 35%;
        width: 64px;
        display: block;
        height: 126px;
        background-image: url('../images/slider-prev.png');
        background-repeat: no-repeat;
      }
      .next {
        position: absolute;
        right: -83px;
        top: 35%;
        width: 64px;
        background-image: url('../images/slider-next.png');
        background-repeat: no-repeat;
        display: block;
        height: 126px;
      }
      .order-product-block__get-feedback-form-bottom {
        margin: 0 auto;
        text-align: center;
        display: block;
        color: #fff;
        clear: both;
        background-color: #e30404;
        text-transform: uppercase;
        padding: 10px 24px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 21px;
        text-decoration: none;
        max-width: 660px;
        &:hover {
          text-shadow: 1px 1px 2px rgba(12, 12, 12, .8), 0 0 1em rgba(255, 255, 255, .63);
          -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, .78);
          box-shadow: 0 8px 30px rgba(0, 0, 0, .78);
        }
      }
      .order-products-block-carousel {
        display: block;
        max-width: 1100px;
        margin: 0 auto;
        position: relative;
        .order-products-block-wrapper {
          display: block;
          max-width: 100%;
          min-width: 300px;
          margin: 0 auto;
          padding: 2px 3px;

          .crsl-items {
            display: block;
            padding: 5px;
            .crsl-item {

              display: block;
              position: relative;
              margin-bottom: 10px;
              .order-product-block {
                max-width: 320px;
                height: 330px;
                img {
                  width: 260px;
                  height: 190px;
                  margin: 40px auto 0 auto;
                  display: block;
                }
                .order-product-block__get-feedback-form {
                  text-align: center;
                  display: block;
                  color: #fff;
                  background-color: #e30404;
                  text-transform: uppercase;
                  padding: 10px 24px;
                  border-radius: 5px;
                  font-weight: 700;
                  font-size: 21px;
                  text-decoration: none;
                  width: 216px;
                  margin: 60px auto 0 68px;
                  &:hover {
                    text-shadow: 1px 1px 2px rgba(12, 12, 12, .8), 0 0 1em rgba(255, 255, 255, .63);
                    -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, .78);
                    box-shadow: 0 8px 30px rgba(0, 0, 0, .78);
                  }
                }
              }
              .order-product-block_circle {
                position: absolute;
                right: 9px;
                top: 130px;
                width: 125px;
                height: 125px;
                color: #fff;
                background-color: #e30404;
                border-radius: 80px;
                p {
                  width: 128px;
                  margin: 35px 0 0 1px;
                  text-align: center;
                  font-size: 17px;
                  color: #fff;
                  height: 50px;
                  display: -webkit-box !important;
                  display: -ms-flexbox !important;
                  display: flex !important;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  span {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }

      }

      .order-products-block_all-products {
        display: none;
        max-width: $max-width-lg;
        margin: 0 auto 40px auto;
      .order-products-block_all-products-block {

        .order-products-block_all-products_elements {

          .crsl-item {
            margin: 0 auto 30px auto;
            float: none;
            max-width: 320px;
            .order-product-block {
              max-width: 320px;
              img {
                width: 250px;
                height: 190px;
                margin: 40px auto 0 auto;
                display: block;
              }
              .order-product-block__get-feedback-form {
                text-align: center;
                display: block;
                color: #fff;
                background-color: #e30404;
                text-transform: uppercase;
                padding: 10px 24px;
                border-radius: 5px;
                font-weight: 700;
                font-size: 21px;
                text-decoration: none;
                width: 216px;
                margin: 60px auto 0 68px;
                &:hover {
                  text-shadow: 1px 1px 2px rgba(12, 12, 12, .8), 0 0 1em rgba(255, 255, 255, .63);
                  -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, .78);
                  box-shadow: 0 8px 30px rgba(0, 0, 0, .78);
                }
              }
            }
            .order-product-block_circle {
              position: absolute;
              right: 9px;
              top: 130px;
              width: 125px;
              height: 125px;
              color: #fff;
              background-color: #e30404;
              border-radius: 80px;
              p {
                width: 128px;
                margin: 35px 0 0 1px;
                text-align: center;
                font-size: 17px;
                color: #fff;
                height: 50px;
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                span {
                  font-weight: bold;
                }
              }
            }
          }

        }
      }
    }
  }
    .work-products-block{
    position: relative;
    padding-bottom: 25px;
    .work-products-block_title{
      font-family: Calibri;
      text-transform: uppercase;
      color: #000;
      font-size: 40px;
      margin: 0 0 40px;
      padding-top: 30px;
      text-align: center;
    }
    .previous{
      position: absolute;
      left: -70px;
      top: 48%;
      width:64px;
      display:block;
      height:126px;
      background-image:url('../images/slider-prev.png');
      background-repeat: no-repeat;
    }
    .next{
      position: absolute;
      right: -83px;
      top: 48%;
      width:64px;
      background-image:url('../images/slider-next.png');
      background-repeat: no-repeat;
      display:block;
      height:126px;
    }
      .carouseller [class*="car__"]{
        float: none!important;
      }
    .work-products-block-carousel{
      max-width: 1100px;
      margin: 0 auto;
      position: relative;

      .work-products-block-wrapper {
        display: block;
        max-width: 100%;
        min-width: 300px;
        margin: 0 auto;
        padding: 2px 3px;
        .crsl-items {
          display: block;
          padding: 5px;
          .crsl-item {
            display: inline-block;
            position: relative;
            margin-bottom: 10px;
              .gal{
                .row{
                  .work-product{
                    padding: 0!important;
                    img {
                      width: 100%!important;
                      height: auto!important;
                    }
                    img:hover{
                      opacity: 0.8;
                    }
                    a:hover{
                      &:before{
                        content: "";
                        background-image: url(../images/magnifier-tool-2_icon-icons.com_56920.png);
                        background-size: 30%;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                      }
                    }

                  }
                }
              }

          }
        }
      }
    }
  }
    .connection-block{
      height: 470px;
      .connection-_block-wrapper{
        max-width: $max-width-lg;
        margin: 0 auto;
        .connection-block_block_title{
          text-align: center;
          color: #fff;
          font-family: Calibri;
          width: 60%;
          margin: 0px auto 0 auto;
          h1{
            text-transform: uppercase;
            font-size: 40px;font-weight: normal!important;
            padding-top: 25px;
            margin-bottom: 22px;
          }
          p{
            font-size: 25px;font-weight: normal!important;

          }
          p:nth-child(3){
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
          }
        }
        .link-line-left{
          margin-top: 45px;
          height: 3px;
          background-color: #fff;
          width: 30%;
          float: left;
        }
        .link-line-right{
          margin-top: -30px;
          height: 3px;
          background-color: #fff;
          width: 30%;
          float: right;
        }
        .connection-block__get-feedback-form{
          font-family: Calibri;
          font-size: 25px;
          color: #000;
          background-color: #fff;
          text-transform: uppercase;
          width: 255px;
          padding: 10px 20px;
          border-radius: 20px;
          text-align: center;
          display: block;
          margin: 20px auto 0;
          position: relative;

          &:hover{
            text-decoration: none;
            -webkit-box-shadow: 0 8px 30px rgba(0,0,0,.78);
            box-shadow: 0 8px 30px rgba(0,0,0,.78);
          }

        }
      }
    }
    #connection-block {
      background: url(../images/connection-background.jpg) 50% 30% no-repeat fixed;
      margin: 0 auto;
      width: 100%;
      position: relative;
  }
    .company-block{
    position: relative;
    background-color: #e1e0e0;
    padding-bottom: 25px;
    .company-block_title{
      font-family: Calibri;
      text-transform: uppercase;
      color: #000;
      font-size: 40px;
      padding-top: 30px;
      text-align: center;
      margin-bottom: 0;
      margin-top: 0;
    }
    .previous{
      position: absolute;
      left: -70px;
      top: 35%;
      width:64px;
      display:block;
      height: 80px;
      background-image:url('../images/slider-prev.png');
      background-repeat: no-repeat;
    }
    .next{
      position: absolute;
      right: -83px;
      top: 35%;
      width:64px;
      background-image:url('../images/slider-next.png');
      background-repeat: no-repeat;
      display:block;
      height: 80px;
    }
    .company-block-carousel{
      max-width: 1100px;
      margin: 0 auto;
      position: relative;
      .company-block-wrapper {
        display: block;
        max-width: 100%;
        min-width: 300px;
        margin: 0 auto;
        padding: 2px 3px;

        .crsl-items {
          display: block;
          padding: 5px;
          .crsl-item {
            display: block;
            position: relative;
            margin-bottom: 10px;
            .company-block_one{
              max-width: 150px;
              height: 150px;
              margin: 0 auto;
              img {
                width: 150px;
                height: 150px;
                margin: 40px auto 0 auto;
                display: block;
              }
            }
          }
        }
      }

    }

  }
    .reviews-block{
      .reviews-block-wrapper{
        max-width: $max-width-lg;
        margin: 0 auto;
        padding-bottom: 20px;
          .reviews-block_title{
            font-family: Calibri;
            text-transform: uppercase;
            color: #000;
            font-size: 40px;
            margin: 0 0 40px;
            padding-top: 30px;
            text-align: center;
          }
        .review-block{
          margin: 0!important;
          .review-block_elements{
            margin-bottom: 70px;
            .review-block_left-element{
              width: 25%;
              float: left;
              img{
                border-radius: 100%;
                width: 170px;
              }
            }
            .review-block_right-element{
              width: 70%;
              float: right;
              font-family: Calibri;
             h2{
               text-align: left;
                color:#cc0707;
               font-size: 20px;
               text-transform: uppercase;
               margin-bottom: 10px;
              }
              p{
                color: #000;
                font-size: 16px;
                text-align: center;
              }
            }
          }
        }
      }

    }
    .contacts-block{
      background-color: #e1e0e0;
      padding-bottom: 50px;
        .contacts-block-wrapper{
          .reviews-block_title{
            font-family: Calibri;
            text-transform: uppercase;
            color: #000;
            font-size: 40px;
            margin: 0 0 40px;
            padding-top: 30px;
            text-align: center;
          }
          .map{
            width: 100%;
            .ymaps-2-1-47-controls__toolbar,
            .ymaps-2-1-47-zoom,
            .gotoymaps,
            .gotoymaps__text-containercontroller,
            .ymaps-2-1-47-controls__control,
            .ymaps-2-1-47-copyright__wrap{
              display: none!important;
            }
          }
          .contacts-form_wrapper{
            padding: 0 10px;
            .contacts-form{
              max-width: $max-width-lg;
              margin: 50px auto 0px auto;
              border-radius: 10px;
              border: 2px solid #e30404;
              padding: 18px 0 0px 0px;
              .contacts-block-row{

                .contacts-block_left{
                  float: left;
                  form{
                    width: 290px;
                    float: right;
                    ::-webkit-input-placeholder {color:#000;font-weight: bold;}
                    ::-moz-placeholder          {color:#000;font-weight: bold;}/* Firefox 19+ */
                    :-moz-placeholder           {color:#000;font-weight: bold;}/* Firefox 18- */
                    :-ms-input-placeholder      {color:#000;font-weight: bold;}
                    input{
                      margin-bottom: 10px;
                      height: 50px;
                      background-color: #e1e0e0;
                      border: 2px solid rgb(227, 4, 4);
                      width: 100%;
                      color: #000;
                      padding: 0 0 0 30px;
                      border-radius: 30px;
                      font-weight: bold;

                    }
                    .contacts-form_name{

                    }
                    .contacts-form_message{
                      height: 190px;
                      padding: 0 0 130px 30px;
                    }
                    .contacts-form_rmail{

                    }
                    .contacts-form_submit{
                      font-weight: normal;
                      color: #fff;
                      background-color: #e30404;
                      padding: 10px 24px;
                      border-radius: 30px;
                      font-size: 15px;
                      text-decoration: none;
                      border: none;
                      &:hover{
                        text-shadow: 1px 1px 2px rgba(12,12,12,.8), 0 0 1em rgba(255,255,255,.63);
                        -webkit-box-shadow: 0 8px 30px rgba(0,0,0,.78);
                        box-shadow: 0 8px 30px rgba(0,0,0,.78);
                      }
                    }
                  }
                }
                .contacts-block_right{
                  float: right;
                  .contacts-block_phone, .contacts-block_mail{
                    font-family: Calibri;
                    font-size: 20px;
                    h3{
                      text-transform: uppercase;
                      color: #000;
                      font-weight: bold;
                    }
                    a{
                      color: #d20505;
                      text-decoration: none;
                      &:hover{
                        text-decoration: underline;
                      }
                    }
                  }
                  .contacts-block_mail{
                    margin-top: 40px;
                  }
                }
              }
            }
          }

        }
    }
    footer{
      width: 100%;
      height: 90px;
      background-color: #e30404;
      .footer-block{
        max-width: 700px;
        margin: 0 auto;
        .footer-block_bottom-menu{
          max-width: $max-width-lg;
          margin: 0 auto;
          padding: 15px 0 0 0;
          li{
            float: left;
            font-size: 15px;
            font-family: Calibri;
            text-transform: uppercase;
            list-style: none;
            margin-right: 30px;
            a{
              color: #fff;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
        .footer-block_social-links{
          margin: 0 auto;
          width: 87px;
        }
        .copyright{
          color: #fff;
          text-align: center;
          font-family: "Calibri";
          font-size: 10px;
        }
      }
    }
  }
}
#flb-lightbox{
  #flb-lightbox-image{
    border: none!important;
    border-radius: 5px;
  }
  #flb-close{
    cursor: pointer;
  }
}

/* Modal window */
#basic-modal-content {
  display:none;
}
#simplemodal-overlay {
  background-color:#000;
  cursor:wait;}
#simplemodal-container {
  height: 420px;
  width:90%;
  color:#bbb;
  background-color: #e1e0e0;
  border-radius: 10px;
  padding:12px;
  max-width: 600px;
  form{
    height: 380px;
    float: right;
    ::-webkit-input-placeholder {color:#000;font-weight: bold;}
    ::-moz-placeholder          {color:#000;font-weight: bold;}/* Firefox 19+ */
    :-moz-placeholder           {color:#000;font-weight: bold;}/* Firefox 18- */
    :-ms-input-placeholder      {color:#000;font-weight: bold;}
    input{
      margin-bottom: 10px;
      height: 50px;
      background-color: #e1e0e0;
      border: 2px solid rgb(227, 4, 4);
      width: 100%;
      color: #000;
      padding: 0 0 0 30px;
      border-radius: 30px;
      font-weight: bold;

    }
    .contacts-form_name{

    }
    .contacts-form_message{
      height: 190px;
      padding: 0 0 130px 30px;
    }
    .contacts-form_rmail{

    }
    .contacts-form_submit{
      font-weight: normal;
      color: #fff;
      background-color: #e30404;
      padding: 10px 24px;
      border-radius: 30px;
      font-size: 15px;
      text-decoration: none;
      border: none;
      &:hover{
        text-shadow: 1px 1px 2px rgba(12,12,12,.8), 0 0 1em rgba(255,255,255,.63);
        -webkit-box-shadow: 0 8px 30px rgba(0,0,0,.78);
        box-shadow: 0 8px 30px rgba(0,0,0,.78);
      }
    }
  }
}
#simplemodal-container a.modalCloseImg {
  background:url(../images/x.png) no-repeat;
  width: 30px;
  height: 30px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-16px;
  cursor:pointer;}
/* Modal window */

@media screen and (min-width: 1930px) {
  #top-slider, #connection-block {
    background-size: contain!important;
  }
}
@media screen and (min-width: 996px) and (max-width: 1200px){
  .container-fluid{
    header{
      .head-block{
        max-width:$max-width-md;
        .logo-menu-top{
        .logo{
          margin-left: 12px;
        }
          ul{
            li{
              font-size: 17px!important;
            }
          }
        }
      }
    }
    .top-slider{
      .top-slider_block{
        max-width:$max-width-md;
        .top-slider_block_contacts{
          padding-right: 20px;
          .top-slider_block__contacts-content{
            font-size: 27px;
          }
          .top-slider_block__get-feedback-form{
            font-size: 19px;
          }
        }
      }
    }
    .stock-products-block{
      .stock-products-block-carousel{
        max-width: 682px!important;
        margin: 0 auto;
      }

    }
  }
}
@media screen and (min-width: 768px) and (max-width: 996px){
  .container-fluid{
    header{
      .head-block{
        max-width:$max-width-sm;
        .logo-menu-top{
          .logo{
            margin-left: 22px;
          }
          ul{
            float: left;
            color: #fff;
            margin: 28px 0 0 10%;
            width: 62%;
            li{
              line-height: 24px;
              font-size: 17px!important;
              &:after{
                //display: none!important;

                margin: 0 4px 0 4px;
              }
              &:nth-child(4){
                &:after{
                  content: "";
                  border-radius: 18px;
                  width: 7px;
                  height: 7px;
                  margin: -12px 5px 0;
                  background-color: rgba(0, 0, 0, 0);
                  display: inline-block;
                  vertical-align: -webkit-baseline-middle;
                }
              }
            }
          }
        }
      }
    }
    .top-slider{
      .top-slider_block{
        max-width:$max-width-sm;
        .top-slider_block_contacts{
          padding-right: 20px;
          .top-slider_block__contacts-content{
            font-size: 23px;
          }
          .top-slider_block__get-feedback-form{
            font-size: 17px;
          }
        }
        .top-slider_block_title{
          .top-slider_block_title__bold{
            font-size: 50px;
          }
          .top-slider_block_title_normal{
            font-size: 40px;
          }
        }
      }
    }
    .services{
      .services-block{
        .row{
          .services-block_row{
            display: block!important;

            img{
              height: 100%;
              max-width: 280px;
            }
            .left-position-img-sm{
              float: right;
            }
            .right-position-img-sm{
              float: left;
            }
          }
          .services-block_row__even{
            float: left!important;
          }
          .services-block_row__title{
            max-width: 280px;
          }
        }
      }
    }
    .connection-block{
      height: 400px!important;
      .connection-_block-wrapper{
        .connection-block_block_title{

          h1{
            font-size: 30px!important;
          }
          p{
            font-size: 20px!important;
          }
        }

      }
    }
  }
}
@media screen and (max-width: 1260px){
  .container-fluid {
    .stock-products-block {
      .stock-products-block-carousel {
        max-width: 682px !important;
        margin: 0 auto;
      }

    }
    .order-products-block {
      .order-products-block-carousel {
        max-width: 682px !important;
        margin: 0 auto;
      }

    }
    .work-products-block {
      .work-products-block-carousel {
        max-width: 682px !important;
        margin: 0 auto;
      }
    }
    .company-block{
      .company-block-carousel{
        max-width: 682px !important;
      }
    }
  }
}
@media screen and (max-width: 856px){
  .container-fluid {
    .stock-products-block {
      .stock-products-block-carousel {
        max-width: 356px !important;
        margin: 0 auto;
      }

    }
    .order-products-block {
      .order-products-block-carousel {
        max-width: 356px !important;
        margin: 0 auto;
      }

    }
    .work-products-block {
      .work-products-block-carousel {
        max-width: 356px !important;
        margin: 0 auto;
      }

    }
    .company-block{
      .company-block-carousel{
        max-width: 356px !important;
      }
    }

  }
}
@media screen and (min-width: 560px) and (max-width: 767px){
  .container-fluid{
    header{
      .head-block{

        .logo-menu-top{
          .logo{
            margin-left: 22px;
            width: 20%;
          }
          ul{
            float: left;
            color: #fff;
            width: 380px;
            margin: 30px 0 0!important;
            li{
              line-height: 24px;
              font-size: 17px!important;
              &:after{
                margin: 0;
              }
              &:nth-child(3),&:nth-child(5){
                &:after{
                  content: "";
                  border-radius: 18px;
                  width: 7px;
                  height: 7px;
                  margin: -12px 5px 0;
                  background-color: rgba(0, 0, 0, 0);
                  display: inline-block;
                  vertical-align: -webkit-baseline-middle;
                }
              }
            }
          }
        }
      }
    }
    .top-slider{
      .top-slider_block{
        max-width:$max-width-sm;
        .top-slider_block_contacts{
          padding-right: 20px;
          .top-slider_block__contacts-content{
            font-size: 23px;
          }
          .top-slider_block__get-feedback-form{
            font-size: 17px;
          }
        }
        .top-slider_block_title{
          .top-slider_block_title__bold{
            font-size: 50px;
          }
          .top-slider_block_title_normal{
            font-size: 40px;
          }

        }
      }
    }
    .services{
      .services-block{
        .row{
          .services-block_row{
            margin: 0 0 20px 0;
            img{
              margin: 0 auto;
            }
            .left-position-img-sm{

            }
            .right-position-img-sm{

            }
          }
          .services-block_row__even{

          }
          .services-block_row__title{
            height: 100px!important;
          }
        }
        .services-block__get-feedback-form{
          margin-top: 0!important;
          padding: 25px 24px!important;
        }
      }
    }
    .order-products-block {
      .order-products-block_all-products {
        .order-products-block_all-products-block {
          .order-products-block_all-products_elements {
            .crsl-item {
              max-width: 320px;
              width: 100%;
              display: block;
              position: relative;
              .order-product-block_circle {
                top: 80px!important;
              }
            }
          }
        }
      }
    }
    .connection-block{
      height: 420px!important;
      .connection-_block-wrapper{
        .connection-block_block_title{
          width: 80%!important;
          h1{
            font-size: 30px!important;
          }
          p{
            font-size: 20px!important;
          }
        }

      }
    }
    .contacts-block{
      .contacts-block-wrapper{
        .contacts-form_wrapper{
          .contacts-form{
            .contacts-block-row{
              .contacts-block_left{
                form{
                  margin: 0 auto;
                  float: none!important;
                  }
                }
              }
              .contacts-block_right{
                text-align: center;
                .contacts-block_mail{
                  margin: 10px 0!important;
                }
              }
            }
          }

      }
    }
  }
}
@media screen and (min-width: 370px) and (max-width: 560px){
  .container-fluid{
    header{
      .head-block{
        .icon-menu{
          display: block!important;
          color: #fff;
          cursor: pointer;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          padding-bottom: 25px;
          padding-left: 25px;
          padding-top: 25px;
          text-decoration: none;
          text-transform: uppercase;
          right: 50px;
          top: 20px;
          position: absolute;
          z-index: 10;
          img{
            width: 50px;
          }
          .stock-product-block__get-feedback-form{

          }
        }
        .logo-menu-top{
          .logo{
            margin-left: 22px;
          }
          .icon-close{
            display: block!important;
            cursor: pointer;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 6px;
            position: absolute;
            right: 0;
            img{
              width: 70px;
            }

          }
          .menu {
            background-image:url("../images/slider-top-background-mobile.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            left: 100%;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 12;
          }
          ul{
            float: none!important;
            li{
              float: none!important;
              text-align: center;
              font-size: 26px;
              list-style: none;
              line-height: 60px;
              border-bottom: 1px solid;
              width: 50%;
              margin: 0 auto;
              &:last-child{
                border-bottom: none;
              }
              &:after{
                display: none!important;
              }
            }
          }
        }
      }
    }
    .top-slider{
      background-image:url("../images/slider-top-background-mobile.jpg")!important;
      max-height: 620px!important;
      .top-slider_block{

        .top-slider_block_contacts{
          margin: 391px 0 25px!important;
          text-align: center;
          float: none!important;
          .top-slider_block__contacts-content{
            font-size: 23px;
          }
          .top-slider_block__get-feedback-form{
            font-size: 17px;
            padding: 16px 74px!important;
          }
        }
        .line-top-slider{
          position: absolute;
          width: 80%;
          left: 0;
          right: 0;
          display: inline-block!important;
          top: 46%;
        }
        .top-slider_block_title{
          top: 25%!important;
          .top-slider_block_title__bold{
            font-size: 42px!important;
          }
          .top-slider_block_title_normal{
            font-size: 31px!important;
          }
          .menuscroll {
            display: none!important;
          }
        }
      }
    }
    .category-block {
      .category-block_elements {
        .category-block_element {
          p {
          }
          img {
          }
        }
        .category-block_title {
        }

        .category-block__get-feedback-form {
          font-size: 16px;
          text-decoration: none;
          max-width: 290px!important;
        }
      }
    }
    .services{
      .services-block{
        .row{
          .services-block_row{
            margin: 0 0 20px 0;
            img{
              margin: 0 auto;
            }
            .left-position-img-sm{

            }
            .right-position-img-sm{

            }
          }
          .services-block_row__even{

          }
          .services-block_row__title{
            height: 100px!important;
          }
        }
        .services-block__get-feedback-form{
          margin-top: 0!important;
          padding: 25px 24px!important;
        }
      }
    }
    .stock-products-block{
      .previous{
        position: absolute;
        top: 93%!important;
        left: 25%!important;
      }
      .next{
        position: absolute;
        top: 93%!important;
        right: 25%!important;
      }
      .stock-products-block-carousel{
        position: initial;
        .stock-products-block-wrapper {
          .crsl-items {
            padding: 0!important;
          }
        }
      }
    }
    .order-products-block{
      .order-product-block__get-feedback-form-bottom{
        margin-top: 30px!important;
      }
      .previous{
        position: absolute;
        top: 93%!important;
        left: 25%!important;
      }
      .next{
        position: absolute;
        top: 93%!important;
        right: 25%!important;
      }
      .order-products-block-carousel{
        position: initial;
        .order-products-block-wrapper {
          .crsl-items {
            padding: 0!important;
          }
        }
      }
      .order-products-block_all-products {
        .order-products-block_all-products-block {
          .order-products-block_all-products_elements {
            .crsl-item {
              max-width: 320px;
              width: 100%;
              display: block;
              position: relative;
              .order-product-block_circle {
                top: 80px!important;
              }
            }
          }
        }
      }

    }
    .work-products-block{
      margin-bottom: 40px;

      .previous{
        position: absolute;
        top: 100%!important;
        left: 25%!important;
      }
      .next{
        position: absolute;
        top: 100%!important;
        right: 25%!important;
      }
      .work-products-block-carousel{
        position: initial;
        .work-products-block-wrapper {
          .crsl-items {
            padding: 0!important;
          }
        }
      }
    }
    .connection-block{
      height: 380px;

      .connection-_block-wrapper{
        .connection-block_block_title{
          width: 80%!important;
          h1{
            font-size: 30px!important;
          }
          p{
            font-size: 17px!important;
          }
        }
        .connection-block__get-feedback-form {
          width: 200px!important;
          padding: 10px 30px!important;
          font-size: 20px!important;
        }
        hr{
          display: none;
        }
      }
    }
    .reviews-block{
      .reviews-block-wrapper{
        .reviews-block_title{
          font-family: Calibri;
          text-transform: uppercase;
          color: #000;
          font-size: 40px;
          margin: 0 0 40px;
          padding-top: 30px;
          text-align: center;
        }
        .review-block{
          .review-block_elements{
            margin-bottom: 40px!important;
          }
        }
      }

    }
    .contacts-block{
      .contacts-block-wrapper{
        .contacts-form_wrapper{
          .contacts-form{
            .contacts-block-row{
              .contacts-block_left{
                form{
                  margin: 0 auto;
                  float: none!important;
                }
              }
            }
            .contacts-block_right{
              text-align: center;
              .contacts-block_mail{
                margin: 10px 0!important;
              }
            }
          }
        }

      }
    }
  }
}
@media screen and (max-width: 370px) {
  .container-fluid {
    header {
      .head-block {
        .icon-menu {
          display: block !important;
          color: #fff;
          cursor: pointer;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          padding-bottom: 25px;
          padding-left: 25px;
          padding-top: 25px;
          text-decoration: none;
          text-transform: uppercase;
          z-index: 10;
          right: 50px;
          top: 20px;
          position: absolute;
          img {
            width: 50px;
          }
        }
        .logo-menu-top {
          .logo {
            margin-left: 22px;
          }
          .icon-close {
            display: block !important;
            cursor: pointer;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 6px;
            position: absolute;
            right: 0;
            img {
              width: 70px;
            }
          }
          .menu {
            background-image: url("../images/slider-top-background-mobile.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            left: 100%;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 12;
          }
          ul {
            float: none !important;
            li {
              float: none !important;
              text-align: center;
              font-size: 26px;
              list-style: none;
              line-height: 60px;
              border-bottom: 1px solid;
              width: 50%;
              margin: 0 auto;
              &:last-child {
                border-bottom: none;
              }
              &:after {
                display: none !important;
              }

            }
          }
        }
      }
    }
    .top-slider {
      background-image: url("../images/slider-top-background-mobile.jpg") !important;
      max-height: 555px !important;
      .top-slider_block {

        .top-slider_block_contacts {
          margin: 330px 0 25px !important;
          text-align: center;
          float: none !important;
          .top-slider_block__contacts-content {
            font-size: 22px !important;
          }
          .top-slider_block__get-feedback-form {
            font-size: 15px !important;
            padding: 12px 67px !important;
          }
        }
        .line-top-slider {
          position: absolute;
          width: 80%;
          left: 0;
          right: 0;
          display: inline-block !important;
          top: 39%;
        }
        .top-slider_block_title {
          top: 25% !important;
          .top-slider_block_title__bold {
            font-size: 30px !important;
          }
          .top-slider_block_title_normal {
            font-size: 22px !important;
            margin-top: 0 !important;
          }
          .menuscroll {
            display: none!important;
          }
        }
      }
    }
    .category-block {
      .category-block_elements {
        .category-block_element {
          p {
          }
          img {
          }
        }
        .category-block_title {
        }

        .category-block__get-feedback-form {
          font-size: 16px;
          text-decoration: none;
          max-width: 290px !important;
        }
      }
    }
    .services {
      .services-block {
        .row {
          .services-block_row {
            margin: 0 0 20px 0;
            img {
              margin: 0 auto;
            }
            .left-position-img-sm {

            }
            .right-position-img-sm {

            }
          }
          .services-block_row__even {

          }
          .services-block_row__title {
            height: 100px !important;
          }
        }
        .services-block__get-feedback-form {
          margin-top: 0 !important;
          padding: 25px 24px !important;
        }
      }
    }
    .stock-products-block {
      .previous {
        position: absolute;
        top: 93% !important;
        left: 25% !important;
      }
      .next {
        position: absolute;
        top: 93% !important;
        right: 25% !important;
      }
      .stock-products-block-carousel {
        position: initial;
        .stock-products-block-wrapper {
          .crsl-items {
            padding: 0 !important;
          }
        }
      }
    }
    .order-products-block {
      .order-product-block__get-feedback-form-bottom {
        margin-top: 30px !important;
      }
      .previous {
        position: absolute;
        top: 93% !important;
        left: 25% !important;
      }
      .next {
        position: absolute;
        top: 93% !important;
        right: 25% !important;
      }
      .order-products-block-carousel {
        position: initial;
        .order-products-block-wrapper {
          .crsl-items {
            padding: 0 !important;
          }
        }
      }
      .order-products-block_all-products {
        .order-products-block_all-products-block {
          .order-products-block_all-products_elements {
            .crsl-item {
              max-width: 320px;
              width: 100%;
              display: block;
              position: relative;
              .order-product-block_circle {
                top: 80px!important;
              }
            }
          }
        }
      }

    }
    .work-products-block {
      margin-bottom: 40px;
      .previous {
        position: absolute;
        top: 100% !important;
        left: 25% !important;
      }
      .next {
        position: absolute;
        top: 100% !important;
        right: 25% !important;
      }
      .work-products-block-carousel {
        position: initial;
        .work-products-block-wrapper {
          .crsl-items {
            padding: 0 !important;
          }
        }
      }
    }
    .connection-block {
      height: 470px !important;
      .connection-_block-wrapper {
        .connection-block_block_title {
          width: 80% !important;
          h1 {
            font-size: 30px !important;
          }
          p {
            font-size: 17px !important;
          }
        }
        .connection-block__get-feedback-form {
          width: 200px!important;
          padding: 10px 30px!important;
          font-size: 20px!important;
        }
        hr{
          display: none;
        }
      }
    }
    .company-block {
      .company-block-carousel {
        max-width: 150px !important;
        .company-block-wrapper{
          min-width: inherit!important;
        }
      }
    }
    .reviews-block{
      .reviews-block-wrapper{
        .reviews-block_title{
          font-family: Calibri;
          text-transform: uppercase;
          color: #000;
          font-size: 40px;
          margin: 0 0 40px;
          padding-top: 30px;
          text-align: center;
        }
        .review-block{
          .review-block_elements{
            margin-bottom: 40px!important;
          }
        }
      }

    }
    .contacts-block{
      .contacts-block-wrapper{
        .contacts-form_wrapper{
          .contacts-form{
            border: none!important;
            .contacts-block-row{
              .contacts-block_left{
                form{
                  margin: 0 auto;
                  float: none!important;
                }
              }
            }
            .contacts-block_right{
              text-align: center;
              .contacts-block_mail{
                margin: 10px 0!important;
              }
            }
          }
        }

      }
    }
  }
}
@media screen and (max-width:700px) {
  .container-fluid {
    footer{
      height: 111px!important;
      .footer-block{
        .footer-block_bottom-menu{
          height: 65px;
        }

      }
    }
  }
}
@media screen and (max-width: 480px) {
.container-fluid {
  .company-block {
    .company-block-carousel {
      max-width: 200px !important;
      .company-block-wrapper{
        min-width: inherit!important;
      }
    }
  }
  footer{
    height: 142px!important;
    .footer-block{
      max-width: 330px!important;
      .footer-block_bottom-menu{
        height: 85px;
      }
    }
  }
}
}
@media screen and (max-width:364px) {
  .container-fluid {
    footer{
      height: 142px!important;
      .footer-block{
        max-width: 330px!important;
        .footer-block_bottom-menu{
          height: 85px;
        }
      }
    }
  }
}